<html>
    <body>
        <h1>Kinfogami</h1>
        <span>This is API for kin developers.</span></br></br></br>

        <span>http://100.26.170.178:3000/api/kin/transaction/{txId}</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/balance/{publicAddress}</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/usdValue/{publicAddress}</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/solanaAddress/{publicAddress}</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/kinTokenAccount/{publicAddress}</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/kinTokenAccountUrl/{publicAddress}</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/accountInfo/{publicAddress}</span></br>
    </br>
        <hr>
  </br>
        <span>http://100.26.170.178:3000/api/kin/rank/</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/price</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/marketCap</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/circSupply</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/totalSupply</span></br></br>
        <span>http://100.26.170.178:3000/api/kin/kinInfo</span></br></br>
        

        

        <!-- {
            "_links": {
              "account": {
                    "href": "http://kinfogami.io/accounts/create/",
                    "templated": true
                  },
              "account": {
                "href": "http://kinfogami.io/accounts/transaction/{txId}",
                "templated": true
              },
              "account_transactions": {
                "href": "http://kinfogami.io/info/balance/{publicAddress}",
                "templated": true
              },
              "assets": {
                "href": "http://horizon.kinfederation.com/assets{?asset_code,asset_issuer,cursor,limit,order}",
                "templated": true
              },
              "metrics": {
                "href": "http://horizon.kinfederation.com/metrics"
              },
              "order_book": {
                "href": "http://horizon.kinfederation.com/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
                "templated": true
              },
              "self": {
                "href": "http://horizon.kinfederation.com/"
              },
              "transaction": {
                "href": "http://horizon.kinfederation.com/transactions/{hash}",
                "templated": true
              },
              "transactions": {
                "href": "http://horizon.kinfederation.com/transactions{?cursor,limit,order}",
                "templated": true
              }
            },
            "horizon_version": "v2.1.0",
            "core_version": "kinecosystem-v2.1.0-stellar-v9.2.0",
            "history_latest_ledger": 12088977,
            "history_elder_ledger": 12066478,
            "core_latest_ledger": 12088977,
            "network_passphrase": "Kin Mainnet ; December 2018",
            "protocol_version": 9,
            "current_protocol_version": 9,
            "core_supported_protocol_version": 9
          } -->
    </body>
</html>